* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  font-size: 13px;
}

.with_modal {
  background: none;
}

#app .titulo_topo {
  background-color: #122ab2;
  color: #fff;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.alert {
  border: 3px solid;
  border-radius: 3px;
}

.alert.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert p {
  padding: 8px 12px;
}

.close_modal {
  position: absolute;
  background: #fff;
  top: -10px;
  right: -10px;
  width: 32px;
  height: 32px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
}

/* News */
.news_items {
  margin-bottom: 15px;
}

.news_items h1 {
  margin-bottom: 10px;
}

.container_content {
  display: flex;
}

.container_content img {
  min-width: 250px;
  min-height: 150px;
}

.container_content p {
  padding-left: 10px;
}

.news_content {
  margin-bottom: 10px;
}

.btn {
  background-color: #f8f8f8;
  color: #333;
  border: 3px solid #333;
  border-radius: 3px;
  padding: 8px 8px;
  margin: 10px 0 20px 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s;
  padding: 10px 10px;
}

/* News to update */
.form_update input,
.form_update label,
.form_update .btn {
  display: block;
  width: 500px;
  height: 40px;
}

.form_update input,
.form_update textarea {
  margin-bottom: 8px;
  padding: 10px;
}

/* News to create */
.news_create::before,
.news_update::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0px, 0);
    opacity: 1;
  }
}

.form_create,
.form_update {
  position: absolute;
  background-color: #fff;
  padding: 50px;
  animation: fadeIn 0.7s;
  top: 40px;
}

.form_create input,
.form_create label,
.form_create .btn {
  display: block;
  width: 500px;
  height: 40px;
}

.form_create input,
.form_create textarea {
  margin-bottom: 8px;
  padding: 10px;
}
